body{
    background-image: url("maxresdefault.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 50, 220, 0.75) 
}

#seuMadruga{
    margin: 200px 0px 0px 550px;
    position: absolute;
    animation: aura1 1s ease-in-out alternate;
    -webkit-animation: aura1 1s infinite ease-in-out alternate;
}
@keyframes seuMadruga{
    0%{
        transform: translateY(-40px);
    }
    100%{
        transform: translateY(40px);
    }

}

#madrugassjg{
    margin: 200px 0px 0px 40px;
    position: absolute;
    visibility: hidden;
    z-index: -2;
    animation: aura1 1s ease-in-out alternate;
    -webkit-animation: aura1 1s infinite ease-in-out alternate;
}

@keyframes madrugassjg{
    0%{
        transform: translateY(-40px);
    }
    100%{
        transform: translateY(40px);
    }

}

#aura1{
    margin: -240px 0px 0px 275px;
    height: 950px;
    width: 800px;
    position: absolute;
    visibility: hidden;
    animation: aura1 1s ease-in-out alternate;
    -webkit-animation: aura1 1s infinite ease-in-out alternate;
}

#ssjgaura{
    margin: 60px 0px 0px -250px;
    height: 500px;
    width: 800px;
    position: absolute;
    visibility: hidden;
    z-index: -3;
    animation: aura1 1s ease-in-out alternate;
    -webkit-animation: aura1 1s infinite ease-in-out alternate;
}

#baseFP{
    font-size: 25px;
    position: absolute;
    margin-top: 10px;
    height: 150px;
    width: 200px;
    border-radius: 10px;
    color: black;
    background-color: gray;
    border-style: groove;
    border-color: blueviolet;
    
}

#pararmusica{
    text-align: center;
    font-size: 25px;
    position: absolute;
    margin: 10px 575px;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    color: black;
    background-color: gray;
    border-style: groove;
    border-color: orangered;
    z-index: 10;
}

#pararmusica:hover{
    transition: 200ms;
    box-shadow: 3px 3px 3px 3px;
}

@keyframes aura1{
    0%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(50px);
    }

}

#baseFP:hover{
    transition: 200ms;
    box-shadow: 3px 3px 3px 3px;
}

#transformar{
    font-size: 25px;
    position: absolute;
    height: 150px;
    width: 200px;
    border-radius: 10px;
    color:green;
    background-image: url("seu madruga.jpg");
    background-size: cover;
    border-style: groove;
    border-color: blueviolet;
    margin-top: 210px;
}
#transformar:hover{

    transition: 200ms;
    box-shadow: 3px 3px 3px 3px;
}

#destransformar{
    font-size: 25px;
    position: absolute;
    height: 150px;
    width: 200px;
    border-radius: 10px;
    color:blue;
    background-image: url("Screenshot_4.png");
    background-size: cover;
    border-style: groove;
    border-color: blueviolet;
    margin: 10px 1100px;
    visibility: hidden;
}

#destransformar:hover{
    transition: 200ms;
    box-shadow: 3px 3px 3px 3px;
}

#mensagem{
    font-size: 25px;
    position: absolute;
    height: 150px;
    width: 200px;
    border-radius: 10px;
    color:red;
    background-image: url("download.jpg");
    background-size: cover;
    border-style: groove;
    border-color: blueviolet;
    margin: 210px 1100px;
}

#mensagem:hover{
    transition: 200ms;
    box-shadow: 3px 3px 3px 3px;
}

#msgSsj{
    font-size: 25px;
    position: absolute;
    height: 150px;
    width: 200px;
    border-radius: 10px;
    color:red;
    background-image: url("Screenshot_2.png");
    background-size: cover;
    border-style: groove;
    border-color: yellow;
    margin: 210px 1100px;
    visibility: hidden;
}

#msgSsj:hover{
    transition: 200ms;
    box-shadow: 3px 3px 3px 3px;
}

#ssjAura{
    margin: -120px 0px 0px 425px;
    height: 650px;
    width: 500px;
    position: absolute;
    animation: aura1 1s ease-in-out alternate;
    -webkit-animation: aura1 1s infinite ease-in-out alternate;
    visibility: hidden;
}

.posicaoaura{
    margin: -120px 0px 0px 50px;
    position: absolute;
    z-index: -5;
}

.posicaomadruga{
    margin: 180px 0px 0px 240px;
    position: absolute;

}

.ssjAura1{
    margin: -120px 0px 0px -140px;
    height: 650px;
    width: 500px;
    position: absolute;
    visibility: hidden;
    z-index: -5;
}

@keyframes ssjAura{
    0%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(50px);
    }

}

#seuMadrugaTF{
    margin: 240px 0px 0px 560px;
    position: absolute;
    animation: aura1 1s ease-in-out alternate;
    -webkit-animation: aura1 1s infinite ease-in-out alternate;
    z-index: 1;
    visibility: hidden;
}

.seuMadrugaTF1{
    z-index: -4;
    visibility: hidden;
    position: absolute;
}

.posicaomadruga1{
    margin: 240px 0px 0px 0px;
}

.voando{
    animation: aura1 1s ease-in-out alternate;
    -webkit-animation: aura1 1s infinite ease-in-out alternate;
}

@keyframes seuMadrugaTF{
    0%{
        transform: translateY(-40px);
    }
    100%{
        transform: translateY(40px);
    }

}

#ssjHair{
    margin: 170px 0px 0px 610px;
    position: absolute;
    animation: aura1 1s ease-in-out alternate;
    -webkit-animation: aura1 1s infinite ease-in-out alternate;
    z-index: 1;
    height: 150px;
    width: 120px;
    visibility: hidden;
}

.posicaocabelo{
    margin: 110px 0px 0px 290px;
    position: absolute;
    z-index: -4;
}

#escutou{
    font-size: 25px;
    position: absolute;
    height: 150px;
    width: 200px;
    border-radius: 10px;
    color:violet;
    background-image: url("Screenshot_14.png");
    background-size: cover;
    border-style: groove;
    border-color: blue;
    margin: 210px 1100px;
    visibility: hidden;
}

#escutou:hover{
    transition: 200ms;
    box-shadow: 3px 3px 3px 3px;

}


.ssjHair1{
    margin: 170px 0px 0px 50px;
    position: absolute;
    z-index: -3;
    height: 150px;
    width: 120px;
    visibility: hidden;
    
}

#ssj2Aura{
    margin: 170px 0px 0px 335px;
    margin-top: -5%;
    position: absolute;
    animation: aura1 1s ease-in-out alternate;
    -webkit-animation: aura1 1s infinite ease-in-out alternate;
    z-index: 1;
    height: 700px;
    width: 700px;
    visibility: hidden;
}

#transformar1{
    font-size: 25px;
    position: absolute;
    height: 150px;
    width: 200px;
    border-radius: 10px;
    color:green;
    background-image: url("Screenshot_5.png");
    background-size: cover;
    border-style: groove;
    border-color: blueviolet;
    margin-top: 210px;
    visibility: hidden;
}

#TFssj2{
    visibility: hidden;
}

#transformar1:hover{

    transition: 200ms;
    box-shadow: 3px 3px 3px 3px;
}

#fraseSsj2{
    font-size: 25px;
    position: absolute;
    height: 150px;
    width: 200px;
    border-radius: 10px;
    color:red;
    background-image: url("Screenshot_6.png");
    background-size: cover;
    border-style: groove;
    border-color: yellow;
    margin: 210px 1100px;
    visibility: hidden;
}

#fraseSsj2:hover{
    transition: 200ms;
    box-shadow: 3px 3px 3px 3px;
}

#musicaPica{
    font-size: 25px;
    position: absolute;
    height: 150px;
    width: 200px;
    border-radius: 10px;
    color:brown;
    background-image: url("hqdefault-1_5n7e.jpg");
    background-size: cover;
    border-style: groove;
    border-color: greenyellow;
    margin-top: 410px;
}

#violao{
    visibility: hidden;
    width: 0px;
    height: 0px;
}

#musicaPica:hover{
    transition: 200ms;
    box-shadow: 3px 3px 3px 3px;
}

#madrugassj3{
    margin: 230px 0px 0px 255px;
    position: absolute;
    animation: aura1 1s ease-in-out alternate;
    -webkit-animation: aura1 1s infinite ease-in-out alternate;
    visibility: hidden;

}

#transformar2{
    font-size: 25px;
    position: absolute;
    height: 150px;
    width: 200px;
    border-radius: 10px;
    color:green;
    background-image: url("transformmadruga.jpg");
    background-size: cover;
    border-style: groove;
    border-color: blueviolet;
    margin-top: 210px;
    visibility: hidden;
}

#transformar2:hover{
    transition: 200ms;
    box-shadow: 3px 3px 3px 3px;
}

#fraseSsj3{
    font-size: 25px;
    position: absolute;
    height: 150px;
    width: 200px;
    border-radius: 10px;
    color:red;
    background-image: url("frasessj3.png");
    background-size: cover;
    border-style: groove;
    border-color: yellow;
    margin: 210px 1100px;
    visibility: hidden;
}

#fraseSsj3:hover{
    transition: 200ms;
    box-shadow: 3px 3px 3px 3px;
}

#madrugassj3fusao{
    margin: 230px 0px 0px -20px;
    position: absolute;
    visibility: hidden;
    animation: aura1 1s ease-in-out alternate;
    -webkit-animation: aura1 1s infinite ease-in-out alternate;
    
}
#madrugafundir{
    margin: 230px 0px 0px -10px;
    position: absolute;
    width: 200px;
    height: 300px;
    visibility: hidden;
    animation: aura1 1s ease-in-out alternate;
    -webkit-animation: aura1 1s infinite ease-in alternate;
    
}

#madruves{
    margin: 150px 0px 0px 20px;
    position: absolute;
    
    visibility: hidden;
    z-index: 1;
    animation: aura1 1s ease-in-out alternate;
    -webkit-animation: aura1 1s infinite ease-in-out alternate;
}

#chavesfundir{
    margin: 160px 0px 0px 350px;
    position: absolute;
    width: 500px;
    height: 400px;
    visibility: hidden;
    animation: aura1 1s ease-out alternate;
    -webkit-animation: aura1 1s infinite ease-in-out alternate;

}

#fusao{
    font-size: 25px;
    position: absolute;
    height: 150px;
    width: 200px;
    border-radius: 10px;
    color:red;
    background-image: url("Screenshot_7.png");
    background-position: 60%;
    border-style: groove;
    border-color: yellowgreen;
    margin: 410px 1100px;
    visibility: hidden;
}

#fusao:hover{
    transition: 200ms;
    box-shadow: 3px 3px 3px 3px;
}

#lutar{
    font-size: 25px;
    position: absolute;
    height: 150px;
    width: 200px;
    border-radius: 10px;
    color:red;
    background-image: url("maxresdefault.jpg");
    background-size: 150%;
    background-position-x: -40px;
    border-style: groove;
    border-color: yellowgreen;
    margin: 400px 1100px;
    visibility: hidden;
    z-index: -1;

}

#lutar:hover{
    transition: 200ms;
    box-shadow: 3px 3px 3px 3px;
}

#efeito{
    margin: 150px 0px 0px 100px;
    position: absolute;
    visibility: hidden;
}

#madruveshair{
    margin: 150px 0px 0px 300px;
    position: absolute;
    width: 120px;
    height: 70px;
    z-index: 2;
    animation: aura1 1s ease-in-out alternate;
    -webkit-animation: aura1 1s infinite ease-in-out alternate;
    visibility: hidden;

}

#madruvesaura{
    margin: -100px 0px 0px 150px;
    position: absolute;
    width: 400px;
    height: 800px;
    z-index: 3;
    animation: aura1 1s ease-in-out alternate;
    -webkit-animation: aura1 1s infinite ease-in-out alternate;
    visibility: hidden;
}

#transformar3{
    font-size: 25px;
    position: absolute;
    height: 150px;
    width: 200px;
    border-radius: 10px;
    color:green;
    background-image: url("ssjg.png");
    background-size: cover;
    border-style: groove;
    border-color: blueviolet;
    margin-top: 210px;
    visibility: hidden;
}

#transformar3:hover{
    transition: 200ms;
    box-shadow: 3px 3px 3px 3px;
}

#ritual{
    border-radius: 10px;
    border: 10px inset gray;
    justify-content: center;
    position: absolute;
    z-index: -1;
    margin-top: 3%;
    visibility: hidden;
    
}

#destruicao{
    margin: 3% 25px;
    border-radius: 10px;
    border: 10px inset gray;
    justify-content: center;
    position: absolute;
    z-index: -1;
    visibility: hidden;
}


#fraseSsjg{
    font-size: 25px;
    position: absolute;
    height: 150px;
    width: 200px;
    border-radius: 10px;
    color:red;
    background-image: url("ssjgfrase.jpg");
    background-size: cover;
    border-style: groove;
    border-color: yellow;
    margin: 210px 1100px;
    visibility: hidden;
}

#fraseSsjg:hover{
    transition: 200ms;
    box-shadow: 3px 3px 3px 3px;
}

#bills{
    margin: 150px 0px 0px 450px;
    position: absolute;
    width: 350px;
    height: 500px;
    z-index: -2;
    visibility: hidden;
    animation: aura1 1s ease-in-out alternate;
    -webkit-animation: aura1 1s infinite ease-in-out alternate;

}

#jachega1{
    font-size: 25px;
    position: absolute;
    height: 150px;
    width: 200px;
    border-radius: 10px;
    color:red;
    background-image: url("Screenshot_10.png");
    background-size: 70%;
    background-position-x: 35px;
    border-style: groove;
    border-color: yellow;
    margin: 210px 1100px;
    visibility: hidden;
}

#jachega1:hover{
    transition: 200ms;
    box-shadow: 3px 3px 3px 3px;

} 

.ssjcolor{
    margin: 170px 0px 0px 50px;
    position: absolute;
    z-index: -3;
    height: 150px;
    width: 120px;
    visibility: hidden;
}

.change{
    animation: icc 7s;
}

@keyframes icc{
    0%{
        filter: hue-rotate (1deg);
    }

    50%{
        filter: hue-rotate(360deg);
    }

    100%{
        filter: hue-rotate(140deg);
    }
}

#botaotransformassjb{
    font-size: 25px;
    position: absolute;
    height: 150px;
    width: 200px;
    border-radius: 10px;
    color:green;
    background-image: url("Screenshot_12.png");
    background-size: cover;
    border-style: groove;
    border-color: blueviolet;
    margin-top: 210px;
    visibility: hidden;
}

#botaotransformassjb:hover{
    transition: 200ms;
    box-shadow: 3px 3px 3px 3px;
}

.ssjb{
    height: 800px;
    width: 600px;
    margin: -75px -200px;
    position: absolute;
    visibility: hidden;
    z-index: -5;
}
.aurassjb{
    animation: icc1 7s;
}

@keyframes icc1{
    0%{
        filter: hue-rotate (1deg);
    }

    50%{
        filter: hue-rotate(360deg);
    }

    100%{
        filter: hue-rotate(140deg);
    }
}

.auradossjb{
    position: absolute;
    visibility: hidden;
    z-index: -5;
    height: 800px;
    width: 600px;

}

.posicaoaura1{
    margin: -75px -200px;
}

.ssjbcabelo{
    position: absolute;
    z-index: -3;
    height: 150px;
    width: 120px;
    visibility: hidden;
}

.posicaocabelo1{
    margin: 170px 0px 0px 50px;
}
